.box {
    width: 300px;
    height: 200px;
    /* border: 2px solid rosybrown; */
    margin: 0 auto;

    overflow: scroll;
    overflow-x: hidden;
    
    
}

.box-three {
    overflow: auto;
}

.header {
    width: 200px;
    /* border: 2px solid darkcyan; */
    margin: 0 auto;
    margin-bottom: 20px;

    white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis;
}